@font-face {
	font-family: franklingothicdemi;
	src: url('fonts/franklingothicdemi/Franklin-Gothic-Demi-Regular.woff');
}

@font-face {
	font-family: justsignature;
	src: url('fonts/justsignature/JustSignature.woff');
}

p {
	padding: 0;
	margin: 0;
	font-family: franklingothicdemi;
	text-transform: uppercase;
}

#id-card {
	position: relative;
	margin-top: 65vh;
	float: right;
	width: 24vw; /*460px*/
	height: 26.85vh; /*290px*/
	background: url("images/background.png"); /* This is the one you have to change to make the background different, set it to "../images/background2.png" to make it be the id version, the driver license is the default one. */
	background-repeat: no-repeat;
	display: none; /* This one needs to be sets to "display: block;" to display for it to show*/

	/* Animation */
	animation: fadeIn 1s;
	opacity: 1;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

img {
	position: absolute;
	left:22px;
	top:56px;
	opacity: 100%;
}

#info-box {
	margin-top: 65px;
	margin-left: 190px;
}

#first-name {
	font-size: 20px;
	color: #282828;
}

#last-name {
	font-size: 20px;
	color: #282828;
}

#dob {
	font-size: 20px;
	color: #9A202D;
	margin-top: 5px;
	margin-left: 15px;
}

#citizen-id {
	font-size: 16px;
	color: #282828;
	margin-top: 7px;
	margin-left: 5px;
}

#bio-box {
	margin-top: 16px;
	margin-left: 190px;
}

#sex {
	font-size: 12px;
	color: #282828;
	margin-left: -4px;
	display: inline-block;
}

#hair {
	font-size: 12px;
	color: #282828;
	margin-left: 40px;
	display: inline-block;
}

#height {
	font-size: 12px;
	color: #282828;
	margin-left: -4px;
}

#eyes {
	font-size: 12px;
	color: #282828;
	margin-top: -14px;
	margin-left: 70px;
}

#signature-location {
	position: absolute;
	bottom: 30px;
	left: 28px;
}

#signature {
	font-weight: bolder;
	color: #000000;
	font-size: 10px;
	text-transform: capitalize;
	font-family: justsignature;
}

#issue-location {
	position: absolute;
	bottom: 20px;
	left: 385px;
}

#issue {
	font-size: 13px;
	color: #282828;
}
